*{
    max-width: 100%;
    outline: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
 
  body {
      font-family: Arial, sans-serif;
      background: #0500ff;
      margin: 0;
    }

header{
  display:flex;
  padding:20px;
}

.lo{
  width:22%;
  text-align:right;
}

.lo img{
  width:80px;
}

main{
  margin-top:40px;
  text-align:center;
}





.logo img{
  width:80px;  
}

.logo{
    margin-top: 20px;
}



    .container {
      display:inline-block;
      background: white;
      color:black;
      padding: 30px;
      border-radius: 10px;
      width: 590px;
     border:solid 1px #00000029;
    }

.logo img{
  width:310px;
}

.log img{
  width:90px;


}



.h h1{

  padding:0;
  margin:0;
}


.p{
  margin-top:10px;
  margin-bottom:20px;
}


.f{
  text-align: center;
}

.title{
     display:inline-block;
  width:340px;

   
}
  
    p {
    
      color: #555;
      font-size:1.6em;
      font-weight:600;
   
    }

.co{
  text-align:center;
  
}

.co{
  display:inline-block;
    width:400px;
  text-align:left;
}



.tito{
  margin-bottom:20px;
  display:flex;
  align-items:center;
  background:#faeae6;
  border-radius:4px;
  padding:10px;
  border-left:solid 4px #c90303;
}

.tito img{
  width:30px;
}

.tito label{
  font-size:0.9em;
}

.tit{
  margin-bottom:20px;
  display:flex;
  align-items:center;
  background:#eceeff;
  border-radius:4px;
  padding:10px;
  border-left:solid 4px #4459ff;
}

.tit img{
  width:30px;
}

.tit label{
  font-size:0.9em;
}

.bz{
  padding:10px;
  border:solid 1px #ccc;
  border-radius: 6px;
  
}
    select {
      width: 50%;
      padding: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background: white;
      color:black;
      margin-bottom:20px;
      
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      margin-top: 2px;
     
     
    }
    .input-group {
      padding:10px 30px ;
      display: flex;
      align-items: center;
      border-radius: 0px;
      overflow: hidden;
      background: #fff;
      gap: 4px;

    }
    .input-number {
      background: white;
      padding:0px ;
      font-weight: 100;
      color: #333;
      width: 20px;
      border:none;
      text-align: center;
      
    }


    .input-word {
      flex: 1;
      border: none;
      padding: 8px;
      outline: none;
      border-radius:12px;
       background: white;
    border: 1px solid rgb(183, 187, 200);
       color:black;
    
    }
 
 .input-word:hover{
    border: 2px solid rgb(68 89 255);
   margin:0;
   padding:6px;
  }






.but{
  text-align:center;
  margin-top:10px;
}

.but button{
  width:260px;
    padding:12px;
    border:none;
    border-radius:23px;
    background:rgb(68 89 255);
    font-size:1em;
  font-weight:bold;
  color:white;
}

@media screen and (max-width: 700px){


  
  header{
  display:flex;
  padding:30px;
}

.lo{
  width:100%;
  text-align:left;
}

.lo img{
  width:80px;
}

main{
  margin-top:0px;
  text-align:center;
  padding:0px;
}





.logo img{
  width:40px;  
}

.logo{
    margin-top: 20px;
}



    .container {
      display:inline-block;
      background: white;
      color:black;
      padding:10px 30px ;
      border-radius: 0px;
      width: 600px;
     border:solid 1px #00000029;
    }

.logo img{
  width:250px;
}

.log img{
  width:90px;


}



.h h1{

  padding:0;
  margin:0;
}


.p{
  margin-top:10px;
  margin-bottom:20px;
}


.f{
  text-align: center;
}

.title{
     display:inline-block;
  width:340px;

   
}
  
    p {
    
      color: #555;
      font-size:1.6em;
      font-weight:600;
   
    }

.tit{
  margin-bottom:20px;
  display:flex;
  align-items:center;
  background:#eceeff;
  border-radius:4px;
  padding:10px;
  border-left:solid 4px #4459ff;
}

.tit img{
  width:24px;
  text-align:left;
}

.tit label{
  font-size:0.84em;
  text-align:left;
  color:#000000b8;
}

.bz{
  padding:15px ;
  border:solid 1px #ccc;
  border-radius: 6px;
  
}
    select {
      width: 80%;
      padding: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background: white;
      color:black;
      margin-bottom:20px;
      
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
      margin-top: 2px;
     
     
    }
    .input-group {
      padding:10px 4px ;
      display: flex;
      align-items: center;
      border-radius: 0px;
      overflow: hidden;
      background: #fff;
      gap: 4px;

    }
    .input-number {
      background: white;
      padding:0px ;
      font-weight: 100;
      color: #333;
      width: 20px;
      border:none;
      text-align: center;
      
    }


    .input-word {
      flex: 1;
      border: none;
      padding: 8px;
      outline: none;
      border-radius:12px;
       background: white;
    border: 1px solid rgb(183, 187, 200);
       color:black;
      width:100px;
    
    }
  .input-word:hover{
    border: 2px solid rgb(68 89 255);
  }

.but{
  text-align:center;
  margin-top:10px;
}

.but button{
  width:260px;
    padding:12px;
    border:none;
    border-radius:23px;
    background:rgb(68 89 255);
    font-size:1em;
  font-weight:bold;
  color:white;
}
 
}